.App {
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.level-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #222222;
    height:100vh;
    overflow-y: scroll;
}

.login-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #222222;
    height:100vh;
    overflow-y: scroll;
}

.nomatch-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #222222;
    height:100vh;
    overflow-y: scroll;
    color: white;
}

.level-header {
    height: 40px;
    font-size: 30px;
    color: white;
}

.parent-container {
    display: flex;
    flex-direction: row;
    height:100%;
}

.codemirror-box {
    width: 60vw;
    height:100%;
}

.output-box {
    width: 39vw;
    height:100%;
    padding-left:10px;
}

.instructions-box {
    height:84%;
    background-color:white;
    padding-left: 5px;
    padding-top: 5px;
    padding-right: 12px;
    white-space: pre-wrap;
}

.input-container{
    background-color:white;
    width: 100%;
}

.button-container {
    padding-top: 10px;
    padding-left: 0px;
    padding-right: 10px;
    height:35px;
    display: flex;
    justify-content: space-between;
}

.button-padding {
    padding-left:10px;
}

pre {
    margin: 0px 0px;
}
.word-wrap-needed{
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
