.App {
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.level-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #222222;
}

.level-header {
    height: 8vh;
    font-size: 30px;
    color: white;
}

.parent-container {
    display: flex;
    flex-direction: row;
}

.codemirror-box {
    width: 60vw;
    height:92vh;
}

.output-box {
    width: 40vw;
    height:92vh;
    padding: 5px;
    color: white;
}

.word-wrap-needed{
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
